<!DOCTYPE html>
<html>
  <head>
    <title>Childcare Resources</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="theme-asphalt main-menu-animated">
    <div id="content-wrapper">
      <%= render "layouts/flash_messages" %>

      <%= yield %>
    </div>

  </body>
</html>
